

.paginated  {
    list-style:none;
     display: flex;
     flex-direction: row;
     margin-top: 50px;
   /*  width: 500px; */
    height: 70px;
    justify-content: space-between;
    margin-left: 200px;    
}

.center{
    text-align:center;
     height: 40px;
    width: 40px;
}
.numberStyles { 
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight:10;
     margin-bottom:60px;
     background-color:hsl(9, 32%, 92%);
    
}
 .numberStyles:hover {
            color:black;
            background-color: rgb(169, 214, 229);
            border: 2px solid rgb(132, 205, 230);
        }


  
    
