@import url('https://fonts.googleapis.com/css2?family=Jua&family=Mali&display=swap');


.containerPadre {
  font-family: 'Jua', sans-serif;
}

.container {
  background-color: #d7cfd3;
  display: block;
  flex-direction: column;
  font-size: 18px;
  margin-top: 50px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  -webkit-box-shadow: 8px 8px 8px 0px rgba(134, 134, 134, 0.78);
  -moz-box-shadow: 8px 8px 8px 0px rgba(134, 134, 134, 0.78);
  box-shadow: 8px 8px 8px 0px rgba(134, 134, 134, 0.78);

  width: 500px;
  height: fit-content;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.padre {
  display: flex;
  justify-content: center;
  
}

.input {
  display: inline-block;
  padding: 10px 20px 10px 17px;
  border: 2px solid  #e88078; 
  border-radius: 10px;
  font-family: 'Mali', cursive;
  font-size: 15px;
  color: rgb(0, 9, 59);
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  margin: 5px;
}

.inputEnviar {
  font-family: 'Mali', cursive;
  font-size: 15px;
  min-width: 130px;
  height: 40px;
  color: #e88078; 
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 50px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #686065;
  z-index: 1;
}

.inputEnviar:hover:after {
  width: 100%;
  left: 0;
  border-radius: 50px;
}
.inputEnviar:hover {
  background-color:  #e88078; 
  color: #686065;
}
.inputEnviar:active {
  top: 2px;
}

.temperPadre {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.temper {
  display: flex;
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  padding: 10px 20px 10px 17px;
  border: 2px solid  #e88078; 
  -webkit-border-radius: 20px 3px;
  border-radius: 10px;
  font-family: 'Mali', cursive;
  color: rgb(0, 9, 59);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 19px 13px 0 rgba(255, 255, 255, 0.66);
  -webkit-transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
