
.padre {
  font-family: "Merriweather Sans", sans-serif;
}
.carDog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerPag {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.countPag {
  color: black;
  /* background-color: hsl(340deg 61% 44%); */
  padding: 7px 14px;
  border-color: rgb(2, 2, 2);
  width: 10px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #979797;
}
.countPag2{
  margin-right: 10px;
  color: black;
  /* background-color: hsl(340deg 61% 44%); */
  padding: 7px 10px;

  width: 30px;
  height: 20px;
  border-radius: 10px;

}
.botonAnterior {
  min-width: 100px;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background: #ffffff;
  /* z-index: 1; */
}
/* .botonAnterior:hover:after {
  width: 100%;
  left: 0;
  border-radius: 50px;
}
.botonAnterior:hover {
  background-color: #ffe566;
} */
.botonAnterior:active {
  top: 2px;
}

.botonSiguiente {
  min-width: 100px;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background: #ffffff;
  z-index: 1;
  margin-right:20px;
}

.botonSiguiente:active {
  top: 2px;
}

.input {
  display: inline-block;
  padding: 10px 20px 10px 17px;
  border: 2px solid   #e88078;
  border-radius: 20px 3px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
  color: rgb(0, 9, 59);
  background: rgba(255, 255, 255, 1);
  margin: 5px;
}
.logo {
  margin-top: -15%;
  margin-left:-20%;
  list-style: none;
  height: 60px;
 
}
.logo2 {
  margin-top: -15%;
  list-style: none;
  height: 60px;
}
.scanner{
  margin-top: 5%;
}
.scanner h1 {
  color: transparent;
  font-size: 3rem;
  position: relative;
  overflow: hidden;
 }
 
 .scanner h1::before {
  content: "Loading...";
  font-family: 'Jua', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid  #e88078; 
  overflow: hidden;
  color: #f6948d; 
  animation: load91371 2s linear infinite;
 }
 
 @keyframes load91371 {
  0%, 10%, 100% {
   width: 0;
  }
 
  10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
   border-right-color: transparent;
  }
 
  11%,21%,31%,41%,51%,61%,71%,81%,91% {
   border-right-color:  #e88078; 
  }
 
  60%, 80% {
   width: 100%;
  }
 }