.padre {
  font-family: "Merriweather Sans", sans-serif;
}
.carDog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerPag {
  margin-top: 10px;
  margin-bottom: 20px;
}

.countPag {
  margin-right: 10px;
}

.botonAnterior {
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  min-width: 130px;
  height: 40px;
  color: #000;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  
}

.botonAnterior:hover:after {
  width: 100%;
  left: 0;
  border-radius: 50px;
}
.botonAnterior:hover {
  background-color: #ffe566;
}
.botonAnterior:active {
  top: 2px;
}

.botonSiguiente {
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  min-width: 130px;
  height: 40px;
  color: #000;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer; 
}

.botonSiguiente:hover:after {
  width: 100%;
  left: 0;
  border-radius: 50px;
}
.botonSiguiente:hover {
  background-color: #ffe566;
}
.botonSiguiente:active {
  top: 2px;
}

.input {
  display: inline-block;
  padding: 10px 20px 10px 17px;
  border: 1px solid #b7b7b7;
  border-radius: 20px 3px;

}
