@import url('https://fonts.googleapis.com/css2?family=Jua&family=Mali&display=swap');

.padre{
  margin-top: 1%;
}

.carDog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerPag {
  margin-top: 2%;
  font-family: 'jua', cursive;
  margin-bottom: 20px;
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}


.input {
  width:50px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border: 2px solid   #e88078;
  border-radius: 10px 10px;
  font-family: 'jua', cursive;
  font-size: 15px;
  color: rgb(0, 9, 59);
  background: rgba(255, 255, 255, 1);
  margin: 5px;
}

.scanner{
  margin-top: 5%;
}

.scanner h1 {
  color: transparent;
  font-size: 3rem;
  position: relative;
  overflow: hidden;
 }
 
 .scanner h1::before {
  content: "Loading...";
  font-family: 'Jua', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid  #e88078; 
  overflow: hidden;
  color: #f6948d; 
  animation: load91371 2s linear infinite;
 }
 
 @keyframes load91371 {
  0%, 10%, 100% {
   width: 0;
  }
 
  10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
   border-right-color: transparent;
  }
 
  11%,21%,31%,41%,51%,61%,71%,81%,91% {
   border-right-color:  #e88078; 
  }
 
  60%, 80% {
   width: 100%;
  }
 }
 .orderyFilter {
  display: flex;
  justify-content: center;
}
