@import url('https://fonts.googleapis.com/css2?family=Jua&family=Mali&display=swap');

.conteiner {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url("./Landing.png"); 
  background-image:();
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div {
  margin-left: 50%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  justify-content: center;
  align-items: center;
}

.div h4 {
font-size:90px;
margin-bottom: 35px; 
margin-top: 10px;
 font:bold  'Signika', sans-serif;
 user-select:none;
}

.div h4 span { display:inline-block ; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}

.App:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

.div span:nth-child(4n) { color:hsl(28, 75%, 55%); text-shadow:1px 1px hsl(28, 75%, 45%), 2px 2px hsl(30, 74%, 53%), 3px 3px hsl(39, 45%, 45%), 4px 4px hsl(39, 75%, 45%); }
.div span:nth-child(4n-1) { color:hsl(5, 72%, 70%); text-shadow:1px 1px hsl(18, 83%, 68%), 2px 2px hsl(5, 35%, 45%), 3px 3px hsl(5, 35%, 45%), 4px 4px hsl(5, 35%, 45%); }
.div span:nth-child(4n-2) { color:hsl(30, 64%, 63%); text-shadow:1px 1px hsl(305, 25%, 50%), 2px 2px hsl(30, 25%, 50%), 3px 3px hsl(30, 25%, 50%), 4px 4px hsl(30, 25%, 50%); }
.div span:nth-child(4n-3) { color:hsl(340, 61%, 44%); text-shadow:1px 1px hsl(343, 45%, 50%), 2px 2px hsl(343, 45%, 50%), 3px 3px hsl(343, 45%, 50%), 4px 4px hsl(340, 61%, 44%); }

h4 span:nth-child(2){ animation-delay:.05s; }
h4 span:nth-child(3){ animation-delay:.1s; }
h4 span:nth-child(4){ animation-delay:.15s; }
h4 span:nth-child(5){ animation-delay:.2s; }
h4 span:nth-child(6){ animation-delay:.25s; }
h4 span:nth-child(7){ animation-delay:.3s; }
h4 span:nth-child(8){ animation-delay:.35s; }
h4 span:nth-child(9){ animation-delay:.4s; }
h4 span:nth-child(10){ animation-delay:.45s; }
h4 span:nth-child(11){ animation-delay:.5s; }
h4 span:nth-child(12){ animation-delay:.55s; }
h4 span:nth-child(13){ animation-delay:.6s; }
h4 span:nth-child(14){ animation-delay:.65s; }

.btn {
  font-family: 'Jua', sans-serif;
  height: 60px;
  width: 130px;
  border: none;
  border-radius:15px;
  background: #e88078;
  font-size: 25px;
  color:rgb(255, 255, 255);
  font-weight: 500;
}

.btn:hover {
  background-color:#86746d;
  cursor: pointer;
  color:#e88078;
  animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
 0% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }

 20% {
  -webkit-transform: translate(-3px, 3px);
  transform: translate(-3px, 3px);
 }

 40% {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
 }

 60% {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
 }

 80% {
  -webkit-transform: translate(3px, -3px);
  transform: translate(3px, -3px);
 }

 100% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }
}

