.container {
  font-family: "Merriweather Sans", sans-serif;
  display: flex;
  flex-direction: column;

  font-size: 18px;
  margin-top: 50px;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(47%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(237, 237, 237, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  -webkit-box-shadow: 11px 11px 9px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 11px 11px 9px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 11px 11px 9px 0px rgba(0, 0, 0, 0.9);
  background-color: rgb(214, 180, 27);
  width: 500px;
  height: fit-content;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.padre {
  display: flex;
  justify-content: center;
  height: 517px;
}
