@import url('https://fonts.googleapis.com/css2?family=Jua&family=Mali&display=swap');

.padre {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tt {
  width: 490px;
  height:152px;
  font-family: 'Mali', cursive;
  margin-top: -35%;
  font-size: larger;
  FONT-WEIGHT: 800;
  FONT-WEIGHT: 800;
  FONT-VARIANT: JIS78;
  FONT-VARIANT: JIS78;
  float: right;
  background: rgba(255, 254, 254, 0.217);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 15px;
  color:rgb(49, 48, 48)
}
.tt h1{
  /* -webkit-text-stroke: 1px rgb(130, 130, 130); */
  font-weight: 550;
  color:#e88078;
  text-shadow: 0 0 5px rgb(49, 48, 48); 
  font-family: 'Jua', sans-serif;
  font-size:35px;
}
.imagen {
  object-fit: contain;
  display: flex;  
  width: 520px;
  height: 510px;
  border-radius: 20px;
  object-fit: cover;
}

.card {
  margin-top:5%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card a {
  text-decoration: none;
  color: black;
}
.scanner{
  margin-top: 20%;
}
.scanner h1 {
  color: transparent;
  font-size: 3rem;
  position: relative;
  overflow: hidden;
 }
 
 .scanner h1::before {
  content: "Loading...";
  font-family: 'Jua', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid  #e88078; 
  overflow: hidden;
  color: #f6948d; 
  animation: load91371 2s linear infinite;
 }
 
 @keyframes load91371 {
  0%, 10%, 100% {
   width: 0;
  }
 
  10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
   border-right-color: transparent;
  }
 
  11%,21%,31%,41%,51%,61%,71%,81%,91% {
   border-right-color:  #e88078; 
  }
 
  60%, 80% {
   width: 100%;
  }
 }
